:root {
  --primary-color: #8b5252;
  --secondary-color: #0f0f0f; 
  --tertiary-color: #7f7f7f; 
  --text-color: #3fa594; 
  --background-color: #2b3c74; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Monoton';
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

button {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.planner-item {
  background-color: beige;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  border-radius: 15px;
}

